{
    admin off
    auto_https off
}

:80 {
    root * /var/www/html/public

    encode zstd gzip

# Passe les requêtes PHP à PHP-FPM
    php_fastcgi php:9000

# Sert les fichiers statiques directement
    file_server

    log {
            output stdout
            format console
        }
}
